@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Thin"), local("RobotoSlab-Thin"), url("../fonts/robotoslabthin.woff2") format("woff2"), url("../fonts/robotoslabthin.woff") format("woff"), url("../fonts/robotoslabthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Light"), local("RobotoSlab-Light"), url("../fonts/robotoslablight.woff2") format("woff2"), url("../fonts/robotoslablight.woff") format("woff"), url("../fonts/robotoslablight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"), url("../fonts/robotoslabregular.woff2") format("woff2"), url("../fonts/robotoslabregular.woff") format("woff"), url("../fonts/robotoslabregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto Slab';
  src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"), url("../fonts/robotoslabbold.woff2") format("woff2"), url("../fonts/robotoslabbold.woff") format("woff"), url("../fonts/robotoslabbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

a {
  outline: none;
  text-decoration: none;
  background-color: transparent;
  font-size: 11px;
  color: #2d2a2b; }

img {
  border: none; }

html {
  height: 100%; }

body {
  height: auto !important;
  min-height: 100%; }

.fb {
  display: block;
  position: fixed;
  top: 175px;
  right: 0;
  z-index: 5; }

.tw {
  display: block;
  position: fixed;
  top: 225px;
  right: 0;
  z-index: 5; }

.inst {
  display: block;
  position: fixed;
  top: 275px;
  right: 0;
  z-index: 5; }

.container {
  margin: 0 auto;
  width: 960px;
  box-sizing: border-box; }
  @media only screen and (max-width: 768px) {
    .container {
      width: 720px; } }
  @media only screen and (max-width: 480px) {
    .container {
      width: 100%;
      max-width: 480px; } }

.bg-gray {
  width: 100%;
  background-color: #e2e9ea;
  margin: 0 auto; }
  .bg-gray .small-menu {
    float: right; }
    .bg-gray .small-menu ul {
      font-size: 0; }
    .bg-gray .small-menu li {
      display: inline-block;
      height: 25px;
      padding: 10px 20px;
      padding-bottom: 0;
      font-size: 12px; }
    .bg-gray .small-menu a {
      color: #FFFFFF;
      text-transform: uppercase; }

.bg1 {
  background-color: #bfc7c8; }

.bg2 {
  background-color: #919e9f; }

.bg3 {
  background-color: #a7b0b1; }

.bg4 {
  background-color: #c3cdce; }

.bg5 {
  background-color: #90a0a2; }

.blue {
  background-color: #00a5e2; }

.white {
  background-color: #FFFFFF; }

.clearfix {
  clear: both; }

.bg-menu {
  width: 100%;
  background-color: #000;
  margin: 0 auto; }
  .bg-menu .logo {
    float: left;
    margin: 10px 0px; }
  .bg-menu .menu {
    float: right; }
    .bg-menu .menu ul {
      font-size: 0; }
    .bg-menu .menu li {
      display: inline-block;
      box-sizing: border-box;
      height: 100px;
      width: 125px;
      padding: 0px 18px; }
    .bg-menu .menu :hover {
      background-color: #00a5e2; }
    .bg-menu .menu a {
      font-size: 16px;
      font-family: "Roboto Slab";
      font-weight: bold;
      color: #FFFFFF;
      display: block;
      box-sizing: border-box;
      line-height: 50px;
      padding: 0px; }
    .bg-menu .menu a:after {
      content: url("../images/line_03.png"); }

.bg-banner {
  position: relative;
  margin: 0 auto;
  background-color: #f15e18;
  width: 100%;
  height: auto;
  box-sizing: border-box; }
  @media only screen and (max-width: 480px) {
    .bg-banner {
      width: 100%;
      max-width: 480px;
      height: auto; } }
  .bg-banner .banner {
    background-image: url("../images/bg-imeage_03.png");
    width: 960px;
    height: 455px;
    margin: 0 auto;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 768px) {
      .bg-banner .banner {
        width: 720px;
        background-size: cover; } }
    @media only screen and (max-width: 480px) {
      .bg-banner .banner {
        width: 100%;
        max-width: 480px;
        height: auto;
        background-size: cover; } }
    .bg-banner .banner .half-left {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding-top: 30px;
      padding-left: 100px; }
      @media only screen and (max-width: 768px) {
        .bg-banner .banner .half-left {
          padding: 0px; } }
      @media only screen and (max-width: 480px) {
        .bg-banner .banner .half-left {
          width: 100%; } }
      .bg-banner .banner .half-left img {
        display: inline-block;
        margin: 10px; }
    .bg-banner .banner .half-right {
      width: 50%;
      float: right;
      box-sizing: border-box; }
      @media only screen and (max-width: 768px) {
        .bg-banner .banner .half-right {
          background-color: #f15e18;
          padding-bottom: 38px; } }
      @media only screen and (max-width: 480px) {
        .bg-banner .banner .half-right {
          width: 100%;
          background-color: #f15e18; } }
      .bg-banner .banner .half-right .text-head {
        font-family: "Roboto Slab";
        font-size: 34px;
        font-weight: bold;
        color: #FFFFFF;
        display: block;
        margin-top: 100px;
        text-align: right;
        margin-bottom: 30px; }
      .bg-banner .banner .half-right img {
        display: inline-block;
        float: right; }
        @media only screen and (max-width: 768px) {
          .bg-banner .banner .half-right img {
            width: 100%;
            height: auto; } }
        @media only screen and (max-width: 480px) {
          .bg-banner .banner .half-right img {
            width: 100%;
            height: auto; } }

.line-top {
  background-image: url("../images/line-top_02.png");
  height: 4px;
  width: 100%;
  background-repeat: repeat-x;
  position: absolute;
  top: 7px; }

.line-bottom {
  background-image: url("../images/line-bottom_02.png");
  height: 4px;
  width: 100%;
  background-repeat: repeat-x;
  position: absolute;
  bottom: 7px; }

.bg-main {
  width: 100%;
  background-color: #fff6f1;
  padding-bottom: 195px; }
  .bg-main .left {
    width: 25%;
    float: left;
    padding-top: 75px;
    padding-left: 19px;
    box-sizing: border-box; }
    @media screen and (max-width: 768px) {
      .bg-main .left {
        padding: 100px 5px; } }
    @media only screen and (max-width: 480px) {
      .bg-main .left {
        width: 100%;
        padding: 20px 0px; } }
    @media only screen and (max-width: 768px) {
      .bg-main .left .logo-section {
        width: 100%;
        height: auto; } }
    @media only screen and (max-width: 480px) {
      .bg-main .left .logo-section {
        width: 100%;
        height: auto;
        margin: 20px 0; } }
  .bg-main .right {
    width: 75%;
    float: right;
    background-color: #fee2d3;
    margin-top: 5px;
    padding: 20px;
    padding-bottom: 78px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .bg-main .right {
        width: 100%; } }
    .bg-main .right h2 {
      font-family: "Roboto Slab";
      font-size: 18px;
      color: #7c2e19;
      font-weight: bold;
      margin-bottom: 12px; }
    .bg-main .right p {
      font-family: "Roboto Slab";
      font-size: 14px;
      color: #7d7d7d;
      margin-bottom: 12px; }
  .bg-main .half-left {
    width: 50%;
    box-sizing: border-box;
    float: left;
    padding-top: 92px;
    padding-left: 30px; }
    @media only screen and (max-width: 768px) {
      .bg-main .half-left {
        margin: 0;
        padding: 20% 5%; } }
    @media only screen and (max-width: 480px) {
      .bg-main .half-left {
        width: 100%; } }
    @media only screen and (max-width: 768px) {
      .bg-main .half-left .botels {
        max-width: 100%;
        height: auto; } }
    @media only screen and (max-width: 480px) {
      .bg-main .half-left .botels {
        width: 100%;
        height: auto;
        margin: 20px 0; } }
  .bg-main .half-right-orange {
    width: 50%;
    box-sizing: border-box;
    float: right;
    background-image: url("../images/bg-orange_03.png");
    height: 413px;
    padding-top: 50px;
    padding-left: 35px; }
    @media only screen and (max-width: 480px) {
      .bg-main .half-right-orange {
        width: 100%;
        background-size: cover; } }
    .bg-main .half-right-orange h1 {
      font-family: "Roboto Slab";
      font-size: 50px;
      color: #FFFFFF;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 25px;
      margin-bottom: 50px;
      line-height: 60px; }
      @media only screen and (max-width: 768px) {
        .bg-main .half-right-orange h1 {
          font-size: 30px; } }
      @media only screen and (max-width: 480px) {
        .bg-main .half-right-orange h1 {
          font-size: 30px; } }
    .bg-main .half-right-orange h2 {
      display: inline-block;
      box-sizing: border-box;
      background-image: url("../images/bg-white_03.png");
      width: 454px;
      height: 66px;
      margin-right: -10px;
      font-family: "Roboto Slab";
      font-size: 20px;
      color: #7b2d19;
      text-transform: uppercase;
      line-height: 56px;
      vertical-align: bottom;
      padding-left: 18px;
      margin-bottom: 20px; }
      @media only screen and (max-width: 768px) {
        .bg-main .half-right-orange h2 {
          width: 100%;
          margin-right: 0; } }
      @media only screen and (max-width: 480px) {
        .bg-main .half-right-orange h2 {
          width: 100%;
          margin-right: 0; } }

footer {
  width: 100%;
  color: #FFFFFF;
  position: relative;
  padding-bottom: 30px; }
  footer .social {
    background-color: #e7e7e7;
    width: 33%;
    height: 360px;
    float: left;
    position: relative;
    top: -140px; }
    @media only screen and (max-width: 480px) {
      footer .social {
        width: 100%; } }
  footer h1 {
    width: 100%;
    color: #FFFFFF;
    font-family: "Roboto Slab";
    font-size: 16px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 40px;
    position: relative;
    padding-left: 40px; }
  footer .twitter {
    background-color: #00aeef; }
  footer .twitter:before {
    content: url("../images/twitter_03.png");
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  footer .facebook {
    background-color: #2f5b96; }
  footer .facebook:before {
    content: url("../images/facebook_03.png");
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  footer .instagram {
    background-color: #437197; }
  footer .instagram:before {
    content: url("../images/instagram_03.png");
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0; }
  footer p {
    font-size: 10px;
    color: #a9a9a9; }
  footer .left {
    float: left; }
    footer .left p {
      line-height: 40px;
      display: inline-block;
      vertical-align: bottom; }
  footer .right {
    float: right;
    display: inline-block; }
    footer .right p {
      padding-right: 15px;
      margin-right: 15px;
      border-right: solid 1px #a9a9a9;
      vertical-align: bottom; }
    footer .right img {
      margin-top: -5px; }

.bg-breadcrumbs {
  width: 100%;
  height: 90px;
  padding: 25px 0;
  box-sizing: border-box; }
  @media only screen and (max-width: 480px) {
    .bg-breadcrumbs {
      padding-left: 10px; } }
  .bg-breadcrumbs li {
    display: inline;
    color: #FFFFFF;
    font-family: "Roboto Slab";
    font-size: 12px; }
  .bg-breadcrumbs a {
    color: #FFFFFF;
    font-family: "Roboto Slab";
    font-size: 12px; }
  .bg-breadcrumbs li:after {
    content: " >>"; }
  .bg-breadcrumbs li:last-child {
    color: #00a5e2; }
  .bg-breadcrumbs h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Roboto Slab";
    font-size: 26px; }

.bg-media {
  width: 100%;
  background-color: #e2e9ea;
  padding-bottom: 195px; }
  .bg-media .left-menu {
    width: 25%;
    float: left; }
    @media only screen and (max-width: 480px) {
      .bg-media .left-menu {
        width: 100%;
        float: none; } }
    .bg-media .left-menu li {
      list-style-type: none; }
    .bg-media .left-menu a {
      width: 100%;
      line-height: 50px;
      background-color: #FFFFFF;
      color: #7d7d7d;
      font-family: "Roboto Slab";
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 15px;
      display: inline-block;
      box-sizing: border-box; }
    .bg-media .left-menu a:hover {
      background-color: #00a5e2;
      color: #FFFFFF; }
    .bg-media .left-menu a:active {
      background-color: #00a5e2;
      color: #FFFFFF; }
  .bg-media .categories-menu {
    width: 75%;
    float: right;
    background-color: #f3f3f3;
    padding: 10px;
    box-sizing: border-box; }
    @media only screen and (max-width: 480px) {
      .bg-media .categories-menu {
        width: 100%; } }
    .bg-media .categories-menu button {
      width: 82px;
      height: 32px;
      float: left;
      background-color: #d6d6d6;
      color: #FFFFFF;
      font-family: "Roboto Slab";
      font-size: 14px;
      border: none;
      border-radius: 0;
      margin-right: 10px; }
    .bg-media .categories-menu button:after {
      content: url("../images/sort-up_03.png");
      padding-left: 10px; }
    .bg-media .categories-menu button:hover {
      background-color: #00a5e2; }
    .bg-media .categories-menu .form-group {
      width: 50%;
      float: right;
      box-sizing: border-box; }
      @media only screen and (max-width: 480px) {
        .bg-media .categories-menu .form-group {
          width: 40%; } }
      .bg-media .categories-menu .form-group label {
        color: #797979;
        margin-right: 10px; }
        @media only screen and (max-width: 768px) {
          .bg-media .categories-menu .form-group label {
            display: none; } }
        @media only screen and (max-width: 480px) {
          .bg-media .categories-menu .form-group label {
            display: none; } }

.videos {
  float: left;
  box-sizing: border-box;
  width: 75%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px; }
  @media only screen and (max-width: 480px) {
    .videos {
      width: 100%; } }
  .videos .video {
    width: 33.3%;
    padding-left: 20px;
    padding-bottom: 10px;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .videos .video {
        width: 50%; } }
    @media only screen and (max-width: 480px) {
      .videos .video {
        width: 100%; } }
    .videos .video h2 {
      line-height: 27px;
      display: inline-block;
      box-sizing: border-box;
      background-color: #00a5e2;
      color: #FFFFFF;
      font-family: "Roboto Slab";
      font-size: 12px;
      padding: 0px 10px; }
    .videos .video .screen {
      width: 100%;
      height: 120px;
      background-color: #f3f3f3;
      margin-bottom: 5px; }
    .videos .video p {
      font-family: "Roboto Slab";
      font-size: 12px;
      color: #7d7d7d; }

.navigation {
  width: 75%;
  float: right;
  background-color: #FFFFFF;
  padding: 20px;
  box-sizing: border-box; }
  @media only screen and (max-width: 480px) {
    .navigation {
      width: 100%; } }
  .navigation .pagination {
    float: right;
    font-size: 0px; }
  .navigation li {
    display: inline-block; }
  .navigation a {
    display: inline-block;
    line-height: 30px;
    width: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    padding-left: 12px;
    background-color: #f3f3f3;
    color: #797979;
    font-size: 14px;
    font-family: "Roboto Slab"; }
  .navigation .active a {
    background-color: #00a5e2;
    color: #FFFFFF; }
  .navigation .disabled a {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF; }
    .navigation .disabled a img {
      margin-top: 10px; }

.select2-container--default .select2-selection--single {
  background-color: #00a5e2;
  border: none;
  border-radius: 0;
  height: 32px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: 32px; }

.select2 .select2-container .select2-container--default .select2-container--focus {
  width: 200px; }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #fff transparent transparent transparent;
  border-width: 8px 5px 0 5px;
  margin-left: -10px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #fff transparent;
  border-width: 0 5px 8px 5px; }

/*# sourceMappingURL=style.css.map */
